.root {
    -fx-background-color: #2c80ec;
}

.label {
    -fx-font: 60px "Segoe UI";
}

.button {
    -fx-font: 40px "Segoe UI";
}

.label, .button {
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-font-style: italic;
}



